<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dhxefoe7j/image/upload/v1669211628/share/share_5_nxhnvk.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", dashboard_path, class: "nav-link" %>
        </li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>

        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%#

---------------------------- %>

<div class="dash">

  <div class="sendbox">
<label for="myfile">Select a file:</label>
<input type="file" id="myfile" name="myfile">
  </div>

  <div class="formula">


    <div class="upgrade-standard">

      <%= link_to "Standard Offer" %>

    </div>

    <div class="upgrade-premium">

    <%= link_to "Premium Offer" %>
    </div>
  </div>












</div>
